- skip_children ||= false
%li{class: "task task--#{task.status} #{task.children.any? ? 'task--group' : 'task--single'}"}
  - if !task.children.any?
    = render 'tasks/include_task_checkbox', task: task
  - else
    = render 'tasks/iconed_task', task: task
    - if !skip_children
      .task-list
        %ul
          - task.children.each do |sub_task|
            = render 'tasks/include_task', task: sub_task
    
