- skip_children ||= false
%li{class: "task task--#{task.status} #{task.children.any? ? 'task--group' : 'task--single'}"}
  - if !task.children.any?
    = render 'tasks/include_task_checkbox', task: task
  - else
    = task.name
    - if !skip_children
      %ul
        - task.children.each do |sub_task|
          = render 'tasks/include_task', task: sub_task
    
