- label ||= render 'tasks/iconed_task', task: task
= form_for [task.project, task], :html=>{class: 'task__checkbox task__checkbox--labeled'} do |f|
  = f.check_box "task_#{task.id}_included", onclick: 'form.submit()', checked: task.included?
  = f.label "task_#{task.id}_included", label
