- label ||= render 'tasks/iconed_task', task: task
= form_for [task.project, task], :html=>{class: 'task__checkbox task__checkbox--labeled'}, remote: true, :authenticity_token => true do |f|
  = f.check_box "task_#{task.id}_included", onclick: 'SingleSteps.showWait(); $(this.form).submit()', checked: task.included?
= link_to  project_task_path(task.project, task) do
  = label
