- label = label || nil
- if task.completable?
  = form_for [task.project, task], :html=>{class: "task__checkbox #{label ? 'task__checkbox--labeled' : ''}"}, remote: true, :authenticity_token => true do |f|
    = hidden_field_tag :parent_task, @task.id
    = render 'tasks/incomplete_prereqs', task: task
    = f.check_box "task_#{task.id}_complete?", onclick: render('tasks/change_completion_script', task: task, action: (task.complete? ? 'inprogress' : 'complete')), checked: task.complete?
    - if label
      = f.label "task_#{task.id}_complete?", label
- else
  %span.task__checkbox--sub