.container.project
  .row.project--info
    .col-md-6
      %h2= @project.name
      .project-detail
        %strong Pin:
        = @project.pin
      .project-detail
        %strong Project Team Contact Email:
        = @project.email
    .col-md-6
      = link_to 'Edit', edit_project_path(@project)
      
  .row
    .col-sm-6
      %h3 Activity Checklist
      %ul.activity-checklist
        - @tasks.each do |t|
          - if t.excluded?
            %li{class: "task--#{t.status}"}
              .checkbox="\u2612"
              %strong= t.name
              excluded
          - else
            %li{class: "task--#{t.download_status} task-group-#{t.id}--downloaded"}
              = form_for [t.project, t] do |f|
                .checkbox{onclick: "$(this).parent().submit()"}
                  = t.download_status=='complete' ? "\u2611" : "\u2610"
                  = f.hidden_field :download_complete, value: !t.download_complete?
                  = f.hidden_field :download_location, value: t.download_complete? ? '' : t.download_location
              = form_for [t.project, t] do |f|
                Modifiable
                %strong= t.name
                spreadsheets for this project created.
                - if t.download_location.blank?
                  = f.label :download_location, "Enter Spreadsheet Location: "
                  = f.text_field :download_location
                  = f.hidden_field :download_complete, value: true
                  = f.submit "Save"
                - else 
                  %strong
                    %a{href: t.download_location, target: "_NEW"} 
                      Open Spreadsheet
                      %img.icon{src: icon_path("User_Interface", "open_in_window")}
                  = f.hidden_field :download_complete, value: false
                  = f.hidden_field :download_location, value: ""                  
                  = f.hidden_field :new_download_location, value: t.download_location
                  = f.submit "Remove Spreadsheet Location"
            %li{class: "task--#{t.status}"}
              .checkbox=t.complete? ? "\u2611" : "\u2610"
              %strong= t.name
              = "tasks #{t.status_label}"
    .col-sm-6
      .row
        .col-sm-6
          %h3 Task Groups
        .col-sm-6
          = link_to 'All Tasks', all_tasks_project_path(@project)
      .task-list#top-level-task-groups
        %ul
          - @tasks.each do |t|
            %li{class: "task task--#{t.status} task--group"}
              = link_to t.name, project_task_path(t.project, t)
