!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Single Steps'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Single Steps'}"}
    = stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => reload
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => reload
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
      = render 'layouts/modal_wait'
      = render 'layouts/modal_confirm'
    %footer#footer
      %p
        Developed by 
        = link_to "Stephanie Singer", "https://www.linkedin.com/in/stephanie-singer-68499a"
        with funding from the 
        = link_to "Knight Foundation.", "http://www.knightfoundation.org/" 
        = link_to "Printable version", "http://campaignscientific.com/data/uploads/dataqualityguideforgovernments.pdf"
        available. 
        Icons by 
        = link_to "icons8.com.", "https://icons8.com/"
      %p.feedback
        = link_to "Your feedback", "http://bit.ly/SingleStepsFeedback"
        helps improve this app for everyone.